<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>

<h1 th:text="${titulo}"></h1>
<!--usuario viene del controlador-->
<!--.nombre viene del pojo, se coloca tal cual como esta en el pojo, el get se hace por debajo (controlador)-->
<span th:text="${usuario.nombre}"></span>
<span th:text="${usuario.apellido}"></span><br>
<!--Se usan comillas simples en thymeleaf para indicar que va un texto-->
<span th:if="${usuario.email}" th:text="${usuario.email}"></span><br>
<span th:if="${usuario.email == null}" th:text="'El usuario no tiene correo - usando th:text'"></span><br>
<span th:if="${usuario.email == null}">El usuario no tiene correo</span>

</body>
</html>